.SearchForm {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1100;
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
}

.SearchForm-input {
  max-width: 400px;
  width: 85%;
  padding: 12px 20px;
  font-size: inherit;
}

.SearchForm-button {
  margin-left: 20px;
  padding: 12px 20px;
  font-size: inherit;
  cursor: pointer;
}
