.Header {
  padding: 15px 30px;
  margin-bottom: 30px;
  box-shadow: 1px 8px 6px 0px rgba(1, 12, 21, 0.2);
  background: linear-gradient(
    90deg,
    rgb(205, 212, 176) 18%,
    rgb(86, 181, 184) 71%
  );
}
